{% extends 'base.html' %}

{% block content %}
    <h1>Creation de blog : </h1>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="title">Titre : </label>
        <input type="text" name="title" id="title">
        <br>
        <label for="summary">Decription : </label>
        <textarea name="summary" id="summary"></textarea>
        <br>
        <label for="author">Auteur : </label>
        <input type="text" name="author" id="author">

        <button type="submit">Publier</button>
    </form>
{% endblock %}